# Node
node_modules/
**/node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# Env
.env
.env.*
!.env.example

# Mac
.DS_Store

# Logs
logs/
*.log

# Build / temp
dist/
build/

# Vendure local runtime data
vendure/vendure.sqlite
vendure/vendure.sqlite-*
vendure/.vendure/
vendure/static/assets/
vendure/static/email/test-emails/
