<div class="lang-dropdown">
  
  <!-- ACTIVE LANGUAGE -->
  <div class="lang-current">
    <img id="current-flag" src="/Picture/icons/flags/se.svg" class="flag">
  </div>

  <!-- DROPDOWN -->
  <div class="lang-menu">
    
    <div class="lang-option" onclick="setLanguage('sv')">
      <img src="/Picture/icons/flags/se.svg" class="flag"> SV
    </div>

    <div class="lang-option" onclick="setLanguage('fi')">
      <img src="/Picture/icons/flags/fi.svg" class="flag"> FI
    </div>

    <div class="lang-option" onclick="setLanguage('no')">
      <img src="/Picture/icons/flags/no.svg" class="flag"> NO
    </div>

    <div class="lang-option" onclick="setLanguage('da')">
      <img src="/Picture/icons/flags/dk.svg" class="flag"> DA
    </div>

    <div class="lang-option" onclick="setLanguage('en')">
      <img src="/Picture/icons/flags/gb.svg" class="flag"> EN
    </div>

  </div>
</div>
