<div class="lang-dropdown">
  
  <!-- ACTIVE LANGUAGE -->
  <div class="lang-current">
    <img id="current-flag" src="/assets/flags/gb.svg" class="flag">
  </div>

  <!-- DROPDOWN -->
  <div class="lang-menu">
    
    <div class="lang-option" onclick="setLanguage('en')">
      <img src="/assets/flags/gb.svg" class="flag"> EN
    </div>

    <div class="lang-option" onclick="setLanguage('sv')">
      <img src="/assets/flags/se.svg" class="flag"> SV
    </div>

    <div class="lang-option" onclick="setLanguage('de')">
      <img src="/assets/flags/de.svg" class="flag"> DE
    </div>

  </div>
</div>